#media_container {
    width: 100%;
    height: 100%;
    background-color: #181818;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.media_items {
    margin: 10px;
    background-color: transparent;
    width: 250px;
    overflow: hidden;
    z-index: 1;
}

.media_items:hover {
    cursor: pointer;
}

.thm {
    height: 150px;
    width: 100%;
    opacity: 0.95;
}

.thm:hover {
    opacity: 1;
    transition: 250ms;
}

.media_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.youtuber_profile {
    width: 40px;
}

.content_name {
    margin-inline: 5px;
}

.media_subtitle>p {
    margin-inline: 45px 100px;
    color: #929292;
    line-height: 1.5;
    font-size: 12px;
}

.media_subtitle p:first-child:hover {
    color: #ffffff;
    transition: 150ms;
}